body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #f8f8f2;
  margin: 0;
  padding: 0;
  background-color: #44475a;
}

.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #44475a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
  text-align: center;
  margin-bottom: 30px;
  background-color: #44475a;
  padding: 10px;
}

h1 {
  font-size: 3em;
  color: #50fa7b;
}

section {
  margin-bottom: 30px;
  padding: 15px;
  background-color: #44475a;
}

a {
  color: #8be9fd;
  text-decoration: none;
}

a:hover {
  color: #ff79c6;
  text-decoration: underline;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 601px) {
  p {
    text-align: center;
  }
}

.portfolio-button {
  display: inline-block;
  background-color: #50fa7b;
  color: #282a36;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;
}

.portfolio-button:hover {
  background-color: #8be9fd;
  color: #282a36;
  text-decoration: none;
}

#resume-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #44475a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
