body {
  margin: 0px;
  background-color: black;
  font-family: system-ui;
  color: white;
}
body a {
  color: orange;
  text-decoration: none;
}
body a:hover {
  color: yellow;
}
body .content {
  height: 1398px;
  width: 1600px;
  margin: auto;
}
body .content h1 {
  font-weight: normal;
  padding: 25px 0 0;
  margin: 0px;
  font-size: 120px;
}
body .content p {
  font-size: 20px;
  margin: 5px 0 10px 10px;
  padding: 0px;
}
